@keyframes twinkle {
  0% {
    transform: translateY(0) scale(1) rotate(0deg);
    opacity: 0.7;
  }
  50% {
    transform: translateY(-50px) scale(1.2) rotate(180deg);
    opacity: 0.9;
  }
  100% {
    transform: translateY(-100px) scale(1) rotate(360deg);
    opacity: 0;
  }
}

.animate-twinkle {
  animation: twinkle 8s linear infinite;
}

